:root {
  --primary-color: #0b2b3a;
  --secondary-color: #ff5001;
  --tertiary-color: #efefef;
  --text-dark-color: #0b2b3a;
  --text-light-color: #efefef;
  --btn-margin: 0 0.15rem;
  --btn-padding: 0.51rem 0.875rem;
}

.nav__bar {
  background-image: linear-gradient(to left, #083085, #0a3076);
}

.logo-icon {
  font-size: 3rem;
}

.currency-btn {
  padding: 0.2rem 0.575rem;
  color: var(--tertiary-color);
  background-color: inherit;
  border: 1px solid var(--tertiary-color);
  border-radius: 5px;
}

.small-text {
  font-size: 0.8rem;
  font-weight: 200;
  padding-right: 8px;
  color: var(--text-light-color);
}

#section-one {
  height: 35rem;
  max-height: 35rem;
  background-image: url(images/polynesia.jpeg);
  background-size: cover;
  background-repeat: none;
  background-position: top;
  display: grid;
  place-items: center;
}

.section-btn {
  border: none;
  margin: var(--btn-margin);
  padding: var(--btn-padding);
  color: var(--text-light-color);
  background-color: var(--secondary-color);
  border-radius: 5px 5px 0 0;
}

.section-btn:active {
  outline: none;
  background-color: var(--primary-color);
}

.section-btn:focus {
  outline: none;
  background-color: var(--primary-color);
}

.flight-form {
  margin: 0 0.15rem;
  padding: 2rem 3rem;
  color: var(--text-light-color);
  background-color: var(--primary-color);
  border-radius: 5px 0 5px 5px;
}

.flight-title {
  font-size: 3rem;
  font-weight: 100;
}

input[type="search"],
input[type="date"] {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.flight-btn {
  border: none;
  outline: none;
  margin: var(--btn-margin);
  padding: var(--btn-padding);
  color: var(--text-light-color);
  background-color: var(--secondary-color);
}
